@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üdvözöllek</h1>
    <p>
        A "Minden Mancs Egy Helyen" oldal a magyarországi menhelyek segítésére jött létre,
        hogy a kisállatok könnyebben találjanak gazdit.
        A kis kedvencet keresők itt több menhely állatait tudják megtekenteni egy helyen.
    </p>
</div>

